*{
    margin: 0;
    padding: 0;
    font-family: 'Fjalla One'
}

html {

}


body {
  display: flex;
  flex-direction: row;
  width: 100%;
  min-height: 100vh;
  flex-wrap: wrap;
  justify-content: space-between;
  position: relative;
}

ion-icon {
  font-size: 28px;
  color: black;
}

#hambMenu{
  width: 100%;
  height: 0%;
}

#hambMenu a.icon {
  background: transparent;
  display: block;
  position: absolute;
  right: 8px;
  top: 12px;
}

#hambList{
  list-style: none;
  max-height: 0;
  overflow: hidden;
  width: 100%;
  background-color: #E8E8E8;
  text-align: center;
  font-size: 40px;
  -webkit-transition: all 1.0s ease-out;
}

#hambList li{
  margin-top: 10px;
  margin-bottom: 10px;
}

#hambList li a{
  text-decoration: none;
  color: black;
}

.sidebar{
  display: flex;
  flex: 1;
  order: 1;
  min-height: 100vh;
  width: 20%;
  flex-direction: column;
  justify-content: space-between;
  margin-left: 3%;
  margin-top: 3%;
}

#menu{
  /*flex: 1;*/
  position: fixed;
}

#menu ul{
  text-align: left;
}

#menu ul li{
  vertical-align: middle;
  list-style: none;
  text-decoration: none;
  font-size: 25px;
  color: black;
  font-weight: bold;
  background-color: white;
  padding-right: 5%;
  padding-left: 5%;
}

#menu ul li a{
  text-decoration: none;
  color: black;
}

#menu ul li a:hover{
  background-color: black;
  color: white;
}

#menu li:hover .submenu {
  display: block;
  max-height: 200px;
}

.submenu{
  list-style: none;
  overflow: hidden;
  max-height: 0px;
  -webkit-transition: all 0.8s ease-out;
}

.submenu li a{
  font-size: 20px;
}

.socials{
  bottom: 40px;
  position: fixed;
}

.socials a{
  text-decoration: none;
  color: black;
}

.socials a:hover{
  text-decoration: underline;
}

.wrap{
  display: flex;
  order: 2;
  flex: 5 0 0;
  flex-direction: column;
  justify-content: flex;
  font-weight: bold;
}

.header{
  max-height: 20vh;
  margin-top: 5%;
  margin-bottom: 5%;
  display: flex;
  font-size: 50px;
  align-self: center;
  text-align: center;
  justify-content: center;
}

#carousel{
  display: flex;
  flex: 1;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  text-align: center;
  font-weight: normal;
}


#infobox{
  position: relative;
  flex: 1;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: flex-start;
  align-content: center;
  vertical-align: center;
  text-align: center;
  font-weight: normal;
}

.infowrap{
  text-align: justify;
  padding-left: 5%;
  padding-right: 5%;
  width: 70%;
  max-width: 300px;
}

.mail{
  text-align: center;
}

.headerbox{
  font-size: 30px;
  margin-bottom: 10px;
}

.imgwrap{
  display: flex;
  position: relative;
  padding-bottom: 5%;
  justify-content: center;
}

.imgwrap img{
  object-fit: contain;
  max-width: 80%;
  height: auto;
}

.imgcaption{
  display: none;
  top: 20px;
  font-size: 30px;
  color: white;
  position: absolute;
}
